.contenedorPerfil {
    position: relative;
    top: 50px;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0);
    padding: 0 4vw 2vw 4vw;
    background-color: rgb(244, 244, 244);
    border-radius: .5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.usernamePerfil {
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
}

.contenedorPerfil>* {
    margin: 1vw 0;
}

.tarjetaPRE {
    border: 2px solid lightblue;
    border-radius: .5vw;

}

.contenedorOfertasUsuario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedorOfertasUsuario>* {
    margin-top: 1vw;
    padding: .5vw;
}

.primerSpan {
    display: flex;
    flex-direction: column;
}

.precio {
    float: right;
}

.elemento-lista-sub {
    margin-bottom: 1vw;
}

.botonesPerfil {
    margin-top: 1vw;
}

.botonesPerfil>* {
    margin: .5vw;
}

.contenedorModificacionDemandaOferta {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
    position: fixed;
    z-index: 101;
    margin: 0;
    left: 0;
    top: 0;
}

.modalModificacionDemanda {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 4vw 2vw 4vw;
    background-color: white;
    border-radius: .5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: none;
    flex-direction: column;
}

.modalModificacionOferta {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 4vw 2vw 4vw;
    background-color: white;
    border-radius: .5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: none;
    flex-direction: column;
}

.cerrarModal {
    position: absolute;
    right: 0;
    margin-top: 1vw;
    margin-right: 1vw;
    cursor: pointer;
    color: darkred;
    font-weight: bold;
}

.textoModal {
    margin-top: 4vw;
}

.segundoTextoModal {
    margin-top: 1vw;
}

.juntos{
    display: flex;
    flex-direction: row;
}

.bloque{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.bloque2{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 25px;
}

.juntos>*{
    margin: auto 1vw;
}

.botonPeligro>p{
    font-weight: bold;
    color: #ef4444;
}

.listaPreferencias, .listaCualificaciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.pref{
    cursor: pointer;
}

.contenedorAdmin{
    display: flex;
    justify-content: center;
}

.contenedorOfertasApuntado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
}