.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elemento-lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw;
    margin: 1vw;
    border-radius: .3vw;
    border: 1px solid lightblue;
}

.elemento-lista-sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1vw;
    align-items: start;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
}

.datoSecundario{
    display: block;
}

.datoActividad{
    margin-top: 1vw;
}







.modalDemanda {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 4vw 2vw 4vw;
    background-color: white;
    border-radius: .5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: none;
    flex-direction: column;
}

.cerrarModal{
    position: absolute;
    right: 0;
    margin-top: 1vw;
    margin-right: 1vw;
    cursor: pointer;
    color: darkred;
    font-weight: bold;
}

.textoModalPrimero{
    margin-top: 4vw;
}


.contenedorDemanda{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    position: absolute;
    z-index:99;
    margin: 0;
    top: 0;
    left: 0;
}

.contenedorFiltros{
    display: flex;
    flex-direction: row;
}

.bloqueFiltros{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}
.btnBorrarFecha{
    width: 8vw;
    min-width: 8vw;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #3b82f6;
    border-radius: .75vw;
    margin-top: .5vw;
}

.btnBorrarActividad{
    width: 10vw;
    min-width: 10vw;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #3b82f6;
    border-radius: .75vw;
    margin-top: .5vw;
}

.btnFiltros{
    border: none;
    font-weight: bold;
    color: white;
    background-color: #3b82f6;
    border-radius: .5vw;
    height: 3vw;
    min-height: 3vw;
    cursor: pointer;
}
.filtroNaranja{
    background-color: #f97316;
}

.bloqueBoton{
    justify-content: center;
}