<p-button type="button" label="Volver" (click)="volverAOferta()" />
<div class="contenedorUsuariosApuntados">
    <p><b>Lista de usuarios apuntados</b></p>
    <p-table [value]="listaUsuariosApuntados" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Usuario</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td><a href="perfil/{{usuario.id}}">{{ usuario.username }}</a></td>
            </tr>
        </ng-template>
    </p-table>
</div>