.contenedorUsuariosApuntados{
    position: relative;
    top: 50px;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0);
    padding: 0 4vw 2vw 4vw;
    background-color: rgb(244, 244, 244);
    border-radius: .5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.botonVolverUsuariosApuntados{
    display: inline-block;
    margin-top: 1vw;
}